html {
	overflow-x: hidden;
    color: #F79824;	
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.citacao {
    font-family: 'Times New Roman', Times, serif;
    margin-top:10%!important;
    font-size: 1.9em;
    background-color: rgba(49, 57, 60, 0.6); /* #31393C em rgb */
    padding:20px;
    border-radius:10px;
    color: #e0dfd5;
    width: 50%;
    margin: auto; 
}

.mapa {
margin-top: 60%;
}

#video_background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

div#footer {
    padding-left: 1%;
    background-color: #313638;
}

.footer-bottom {
    background-color: #33A1FD;
    color: #e8e9eb;
}

.footer h3 {
    color: #e8e9eb;
}

.footer a {
    
    color: #e8e9eb;
}

.sky {
    background: url('../img/sky.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sky_quote {
    font-family: 'Times New Roman', Times, serif!important;
    position: relative;
    color: #e0dfd5;
    z-index: 5;
    padding: 0% 30%;
}

.sky_main {
    padding-bottom: 40%;
}

.follow-scroll {
    position: fixed;
    color: #F79824;
    z-index: 1;
    bottom: 20%;
    right: 8%;
    width: 25%;
    margin: 0;
    padding: 0;
    border: 0;
}

.winter_sky_video {
    z-index: 1;
    width: 125%;
}

/*
.follow-scroll {
    float: right;
}*/

#links /* Galeria de Imagens */ {
    display: none;
}

.nav_galeria {
    position: absolute;
    margin-top: 2%;
}

.animacao {
    background-color: #89af96;
}

.w3-table-all a:hover {
    text-decoration: none;
}

.cd-timeline-content {
    background-color:#e8e9eb!important;
    color: #77bfa3;
}

.creditos {
    background-color: #89af96;
    color: #313638;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}

.w3-table-all tr:nth-child(even) {
    background-color: #77bfa3 !important;
}

.w3-table-all tr:nth-child(odd) {
    background-color: #c2d3cd !important;
}

.social li {
	border: 2px solid #e8e9eb;
	background:#313638;
}


span.cd-date {
    font-size: 18px!important;
    color: #e8e9eb  ; 
}

.col-lg-1.col-md-2.col-sm-4.col-xs-6 {
    margin-left: 2%;
}

.col-lg-3.col-md-3.col-sm-6.col-xs-12 {
    margin-top: 4%;
}

.cd-timeline-content p{
    font-size:16px!important;
    font-family:'Times New Roman', Times, serif;
}

.cd-timeline-content h2{
        font-family:'Times New Roman', Times, serif;
    font-size:25px!important}

.galeria{
    background-color:#89af96;
}

.text-galeria{
font-size: 50px!important;
    color:#e8e9eb;
    text-align:center;
    margin-top:10%;
    margin-bottom:5%;
}

.text-sky{
    background-color:gba(49, 57, 60, 0.9);
    padding-left:-20px!important;
    margin-top:10%;
    font-size: 50px!important;
    color:#e8e9eb;
    text-align:center;
    margin-bottom:5%;
}

.citacao2 {
    margin-bottom:5%!important;
    font-size:50px!important;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    margin-top:10%!important;
    font-size: 1.9em;
    border-radius:10px;
    padding:10px;
    color: #e0dfd5;
    width: 20%;
    margin:auto;
}

.frase_sublinhado {
    font-size:20px!important;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9em;
    background-color: rgba(49, 57, 60, 0.6); /* #31393C em rgb */
    border-radius:50px;
    padding:10px;
    color: #e8e9eb;
    width: 70%;
    margin-right:30%;
    margin-left:15%;
}